@import "quote.scss";
$headerHeight: 64px;
$colorHeaderBg: #fff;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: $headerHeight;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
