//public
body{
  background-color: #eee;
}
.task {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  background: rgba(0,0,0,0.4);
  transition: all 0.2s ease-out;
}

.tips {
  position: fixed;
  bottom: 10rem;
  left: 2rem;
  right: 2rem;
  z-index: 100;
  text-align: center;
  transition: all 0.2s ease-out;
  font-size: 1.4rem;
  line-height: 1.5em;
  opacity: 0;

  span {
    display: inline-block;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    min-width: 4rem;
  }
}
//comming animation

.spinner {
  margin: 48vh auto 0;
  height: 80px;
  text-align: center;

  & > div {
    background-color: #67CF22;
    height: 100%;
    width: 8px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}
@-webkit-keyframes stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1.0);
  }
}
@keyframes stretchdelay {
  0%,
  100%,
  40% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
