html {
    color: #333;
    font: 14px/1.5 'Helvetica Neue','Helvetica','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Arial','sans-serif';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-break: break-word;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

button,
input,
select,
textarea {
    border: 0;
    outline: 0;
    resize: none;
    color: inherit;
    border-radius: 0;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a,
button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label,
select {
    cursor: pointer;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

input[type=radio] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel] {
    -ms-ime-mode: disabled;
    ime-mode: disabled;
}

[disabled=disabled] {
    cursor: not-allowed;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.block {
    display: block;
}

.lineblock {
    display: inline-block;
}

.hidden {
    display: none;
}

.overhidden {
    overflow: hidden;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
