.login {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #eee;

  .loginbox {
    display: inline-block;
    background: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 6px;
    .item{
      margin-bottom: 30px;
    }
    .logobox{
      font-size: 20px;
      img{
        height: 30px;
        margin-right: 10px;
      }
      span{
        padding-top: 4px;
      }
    }
  }
}
.ant-table{
  background-color: #fff;
}
.links a{
  margin-right: 6px;
}
.frmbtntop{
  text-align: right;
  padding-bottom: 20px;
  .ant-btn{
    margin-right: 10px;
  }
}
